
.vscode/
_pycache__/
analysis/
analysis_output/
checkpoints_weathers/
checkpoints_weathers_new/
# 模型文件.pt本身有点大，就不上传了
# checkpoints_weathers_new/*
# ！"checkpoints_weathers_new\修改loss权重的第三版模型\carla_multitask_best.pt"
data_weathers/
docs/
logs/
multitask_model_figures/
resnet_model_figures/
tools/
Train_Log_Info/
ability_test.csv
autopilot规则逻辑.jpg
carla_nvidida_e2e_66x200.onnx
data_set_loader.py
demo_visualization.py
export onnx.py
grad_cam_mask.py
gradcam_visualization.py
model.py
model_comparison.pdf
model_visualization.py
model_visualization_notebook.ipynb
Nvidia_PilotNet.jpg
predict_steering_in_carla.py
predict_with_grad_cam.py
README.md
resnet18.svg
simplified_visualization.py
test_gradcam.py
test_model(pt)_form.py
train.py
training_flow.png
visualization_requirements.txt
工程开发记录.md






